{% extends "emails/base.html" %}

{% block title %}Your links have expired{% endblock title %}

{% block content_info %}
  <p>This is an automatic notification to inform you that your</p>
  <p>expired links have been automatically removed.</p>
  <p>There are a total of {{ links_count }} links removed, here they are:</p>
  <ol>
    {% for link in links %}
      <li>{{ link.shortened_link }} ({{ link.original_link }})</li>
    {% endfor %}
  </ol>
  <a href="{{ deleted_links_url }}">View your deleted links here!</a>
{% endblock content_info %}

{% block request_this %}{% endblock request_this %}
