{% extends "base.html" %}

{% block title %}My Account{% endblock title %}

{% block content %}
  <div class="mb-16 mt-10 px-2 flex flex-col justify-center max-w-5xl mx-auto sm:px-0">
    <div class="flex flex-col gap-1">
      <h1 class="text-2xl font-bold">Settings</h1>
      <p class="text-foreground/80">Manage your account settings.</p>
    </div>
    <div class="separator my-6"></div>
    <div class="flex flex-col gap-6 md:flex-row">
      <div class="flex overflow-hidden sm:overflow-visible md:w-1/3">
        <aside
          class="w-full flex gap-0.5 p-1 overflow-x-scroll text-muted-foreground md:flex-col md:overflow-x-auto"
          data-jwsc-tab-list
          data-jwsc-tab-default="account"
          data-jwsc-tab-url-query="tab"
        >
          <button type="button" data-jwsc-tab-value="account" class="tab-item">
            <i data-lucide="settings"></i>
            Account
          </button>
          <button type="button" data-jwsc-tab-value="email" class="tab-item">
            <i data-lucide="mail"></i>
            Email
          </button>
          <button type="button" data-jwsc-tab-value="security" class="tab-item">
            <i data-lucide="shield-alert"></i>
            Password and Authentication
          </button>
        </aside>
      </div>
      <div data-jwsc-tab-panel="account" class="hidden flex-col size-full data-[state=active]:flex">
        <div class="flex flex-col gap-1">
          <h2 class="text-xl font-bold">My Account</h2>
          <p class="text-foreground/80">Manage your account settings.</p>
        </div>
        <div class="separator w-full mt-5 mb-7"></div>
        <form method="post" class="flex flex-col" action="{% url 'my_account' %}">
          {% csrf_token %}
          <div class="flex flex-col gap-2 mb-6">
            <label class="label" for="first_name">First Name:</label>
            <input
              type="text"
              class="input"
              id="first_name"
              name="first_name"
              placeholder="Your first name"
              value="{{ user.first_name }}"
            />
          </div>
          <div class="flex flex-col gap-2 mb-6">
            <label class="label" for="last_name">Last Name:</label>
            <input
              type="text"
              class="input"
              id="last_name"
              name="last_name"
              placeholder="Your last name"
              value="{{ user.last_name }}"
            />
          </div>
          <div class="flex flex-col gap-2 mb-6">
            <label class="label" for="username">Username:</label>
            <input
              type="text"
              class="input"
              id="username"
              name="username"
              placeholder="Your username"
              value="{{ user.username }}"
              required
            />
          </div>
          <button type="submit" class="button-primary p-2 w-fit">Update account</button>
        </form>
        <div class="flex flex-col mt-10">
          <h2 class="text-xl font-bold">Deactivate account</h2>
          <div class="separator mt-2 mb-4"></div>
          <p class="text-foreground/80 text-sm mb-5">
            Your account will be deactivated and completely deleted after 7 days.
          </p>
          <button type="button" class="button-destructive w-fit py-2 px-1.5" data-jswc-dialog data-jswc-target="deactivate-dialog">
            Deactivate your account
          </button>
          <div id="deactivate-dialog" class="hidden dialog" data-jswc-dialog-animation="true">
            <div class="flex flex-col">
              <div class="flex justify-between items-center">
                <h2 class="text-xl font-bold">Are you sure?</h2>
              </div>
              <div class="flex flex-col gap-4 mt-4">
                <p>
                  Are you sure you want to deactivate user "{{ user.username }}"?
                  All of the following related items will be deactivated now and deleted within 7 days:
                </p>
                <ul class="list-disc list-inside">
                  <li>
                    User: {{ user.username }}
                    <ul class="list-disc list-inside pl-2 sm:pl-6">
                      {% for link in user.shortened_links.all %}
                        <li>
                          Link:
                          <a href="{% url "link" link.shortened_link %}" class="link-primary">{{ link }}</a>
                        </li>
                      {% endfor %}
                      {% for link in user.deleted_shortened_links.all %}
                        <li>Deleted Link: <span class="text-primary">{{ link }}</span></li>
                      {% endfor %}
                    </ul>
                  </li>
                </ul>
              </div>
              <div>
                <form
                  method="post"
                  action="{% url "deactivate_account" %}"
                  class="mt-4 w-full flex items-center gap-2 flex-wrap"
                >
                  {% csrf_token %}
                  <button type="submit" class="button-destructive w-full sm:w-auto">Yes, I’m sure</button>
                  <button
                    type="button"
                    class="button-outline w-full sm:w-auto"
                    data-jswc-dialog-close
                  >
                    No, take me back
                  </button>
                </form>
              </div>
              <button
                type="button"
                class="absolute button-outline p-2 border-0 rounded-xl right-4 top-4"
                aria-label="Close"
                data-jswc-dialog-close
              >
                <i data-lucide="x" class="size-5"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div data-jwsc-tab-panel="email" class="hidden flex-col size-full data-[state=active]:flex">
        <div class="flex flex-col gap-1">
          <h2 class="text-xl font-bold">Email Settings</h2>
          <p class="text-foreground/80">Manage your email settings.</p>
        </div>
        <div class="separator w-full mt-5 mb-7"></div>
        <div class="flex flex-col">
          <div class="relative p-4 border rounded-md">
            {% if token %}
              <form method="post" class="flex flex-col" action="{% url 'change_email' token %}">
                {% csrf_token %}
                <div class="flex flex-col gap-3">
                  <label for="new_email" class="label text-foreground/80">New email:</label>
                  <input type="email" name="new_email" id="new_email" class="input" placeholder="{{ user.email }}" required />
                </div>
                <div class="flex items-center gap-2 mt-4">
                  <button type="submit" class="button-primary w-fit px-2 py-1.5">Change</button>
                  <a href="{% url 'change_email_instructions' %}" class="button-outline w-fit px-2 py-1.5">Cancel</a>
                </div>
              </form>
            {% else %}
              <div class="flex items-center gap-2">
                <h3 class="font-bold">{{ user.email }}</h3>
                <span class="size-2 bg-secondary rounded-full"></span>
                <span
                  class="badge-{% if user.email_verified %}default{% else %}secondary{% endif %}"
                >
                  {% if user.email_verified %}
                    Email Verified
                  {% else %}
                    Email Not Verified
                  {% endif %}
                </span>
              </div>
              <p class="text-foreground/80 text-sm mt-2">
                This email will be used for account-related notifications and can also be used for password resets.
              </p>
              {% if not user.email_verified %}
                <p class="text-foreground/80 text-sm mt-1">
                  Please check your email for full access! If you haven't received the verification email, click the button below.
                </p>
                <a href="{% url "resend_verify_email" %}" class="button-outline w-fit mt-4 px-2 py-1">
                  Resend verification email
                </a>
              {% else %}
                <button
                  type="button"
                  class="button-outline absolute rounded-full p-2 top-2 right-2"
                  title="Change your email"
                  data-jswc-dialog
                  data-jswc-target="change-email"
                >
                  <i data-lucide="square-pen"></i>
                  <span class="sr-only">Change your email</span>
                </button>
                <div id="change-email" class="hidden dialog" data-jswc-dialog-animation="true">
                  <div class="flex flex-col">
                    <div class="flex justify-between items-center">
                      <h2 class="text-xl font-bold">Change email</h2>
                    </div>
                    <div class="mt-5 w-full flex flex-col">
                      <p>
                        To change your email, click the “Change” button and you will receive an email
                        with further instructions on how to change your email.
                      </p>
                      <form method="post" class="flex items-center gap-2 mt-4" action="{% url 'change_email_instructions' %}">
                        {% csrf_token %}
                        <button type="submit" class="button-primary w-fit">Change</button>
                        <button type="button" class="button-outline w-fit" data-jswc-dialog-close>
                          No, take me back
                        </button>
                      </form>
                    </div>
                    <button
                      type="button"
                      class="button-outline absolute p-2 border-0 rounded-xl right-4 top-4"
                      aria-label="Close"
                      data-jswc-dialog-close
                    >
                      <i data-lucide="x" class="size-5"></i>
                    </button>
                  </div>
                </div>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
      <div data-jwsc-tab-panel="security" class="hidden flex-col size-full data-[state=active]:flex">
        <div class="flex flex-col gap-1">
          <h2 class="text-xl font-bold">Account Security</h2>
          <p class="text-foreground/80">Manage your password and authentication settings.</p>
        </div>
        <div class="separator w-full mt-5 mb-7"></div>
        <div class="flex flex-col">
          <div class="flex flex-col">
            <div class="label text-foreground/80">Password:</div>
            <div class="flex items-center gap-8 bg-secondary/60 text-foreground/80 rounded-md mt-2 py-2 px-4 w-fit justify-between">
              <div class="font-bold flex items-center gap-4">
                <i data-lucide="lock-keyhole" class="size-5 text-primary"></i>
                <span>******</span>
              </div>
              <div>
                <button
                  type="button"
                  class="button-ghost-outline w-fit px-2 py-1 gap-1"
                  data-jswc-dialog
                  data-jswc-target="change-password"
                >
                  <span>Edit</span>
                  <i data-lucide="square-pen" class="size-5"></i>
                </button>
              </div>
              <div id="change-password" class="hidden dialog" data-jswc-dialog-animation="true">
                <div class="flex flex-col">
                  <div class="flex justify-between items-center">
                    <h2 class="text-xl font-bold">Change password</h2>
                  </div>
                  <form
                    method="post"
                    action="{% url "change_password" %}"
                    class="mt-6 w-full flex flex-col gap-2 flex-wrap"
                  >
                    {% csrf_token %}
                    <div class="w-full flex flex-col gap-2 mb-2">
                      <label for="old_password" class="label">Old Password:</label>
                      <input type="password" id="old_password" name="old_password" class="input" required />
                    </div>
                    <div class="w-full flex flex-col gap-2 mb-4">
                      <label for="new_password" class="label">New Password:</label>
                      <input type="password" id="new_password" name="new_password" class="input" required />
                    </div>
                    <button type="submit" class="button-primary w-fit self-end">Change</button>
                  </form>
                  <button
                    type="button"
                    class="button-outline absolute p-2 border-0 rounded-xl right-4 top-4"
                    aria-label="Close"
                    data-jswc-dialog-close
                  >
                    <i data-lucide="x" class="size-5"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="separator my-8"></div>
          <form method="post" class="flex flex-col" action="{% url 'account_security' %}">
            {% csrf_token %}
            <div class="flex flex-col gap-2">
              <div class="flex items-center gap-2">
                <button
                  id="login_with_email"
                  type="button"
                  class="switch-button"
                  data-jswc-switch
                  data-name="login_with_email"
                  {% if user.login_with_email %}data-state="checked"{% endif %}
                ></button>
                <label for="login_with_email" class="label text-foreground/80">Login with email</label>
              </div>
              <p class="text-sm text-foreground/80">
                Enable if you want to allow login with magic link.
              </p>
            </div>
            <button type="submit" class="button-primary w-fit mt-6">Save</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
