{% extends "base.html" %}

{% block title %}Activate account{% endblock title %}

{% block content %}
  <div class="mt-16 flex flex-col items-center justify-center max-w-md mx-auto p-6 border rounded-md">
    <form method="post" action="{% url 'activate_account' %}" class="w-full">
      {% csrf_token %}
      <div class="text-center mb-8 mt-2">
        <h2 class="text-3xl font-bold">Activate account</h2>
        <p class="text-base font-medium mt-1">Enter your email to activate your account</p>
      </div>
      <div class="flex flex-col gap-2 mb-6">
        <label for="email" class="label">Email:</label>
        <input type="email" id="email" name="email" class="input" required />
      </div>
      <button type="submit" class="mt-2 w-full button-primary">Send account activation link</button>
      <p class="mt-4 text-sm text-center">
        Or <a href="{% url 'sign_in' %}" class="link-primary">Sign In</a>
      </p>
    </form>
  </div>
{% endblock content %}
