{% extends "base.html" %}

{% block title %}Change Password{% endblock title %}

{% block content %}
  <div class="mt-16 flex flex-col items-center justify-center max-w-md mx-auto p-6 border rounded-md">
    <form method="post" action="{% url "change_password" %}" class="w-full">
      {% csrf_token %}
      <div class="text-center mb-8 mt-2">
        <h2 class="text-3xl font-bold">Change Password</h2>
      </div>
      <div class="flex flex-col gap-2 mb-6">
        <label for="old_password" class="label">Old Password:</label>
        <input type="password" id="old_password" name="old_password" class="input" required />
      </div>
      <div class="flex flex-col gap-2 mb-6">
        <label for="new_password" class="label">New Password:</label>
        <input type="password" id="new_password" name="new_password" class="input" required />
      </div>
      <button type="submit" class="mt-2 w-full button-primary">Change</button>
      <p class="mt-4 text-sm text-center">
        <a href="{% url "my_account" %}" class="link-primary">Go Back</a>
      </p>
    </form>
  </div>
{% endblock content %}
