{% extends "are_you_sure.html" %}

{% block content_info %}
  <p>
    Are you sure you want to deactivate user "{{ user.username }}"?
    All of the following related items will be deactivated now and deleted within 7 days:
  </p>
  <ul class="list-disc list-inside">
    <li>
      User: {{ user.username }}
      <ul class="list-disc list-inside pl-6">
        {% for link in user.shortened_links.all %}
          <li>Link: <a href="{% url "link" link.shortened_link %}" class="link-primary">{{ link }}</a></li>
        {% endfor %}
        {% for link in user.deleted_shortened_links.all %}
          <li>Deleted Link: <span class="text-primary">{{ link }}</span></li>
        {% endfor %}
      </ul>
    </li>
  </ul>
{% endblock content_info %}

{% block form_action %}{% url "deactivate_account" %}{% endblock form_action %}

{% block go_back %}{% url "my_account" %}{% endblock go_back %}
