{% extends "base.html" %}
{% load static %}

{% block title %}{{ user.username }}{% endblock title %}

{% block content %}
  <div class="py-16 flex flex-col justify-center max-w-xl mx-auto gap-4">
    <div class="flex flex-col justify-center p-6 border rounded-md">
      <div class="flex items-center gap-2">
        <h1 class="text-2xl font-bold text-center">My informations</h1>
        <span
          class="badge-{% if user.is_premium or user.is_admin %}default{% else %}secondary{% endif %}"
        >
          {{ user.role }}
        </span>
      </div>
      <div class="separator my-4"></div>
      <form method="post" action="{% url 'my_account' %}" class="flex flex-col gap-2">
        {% csrf_token %}
        <div class="flex items-center flex-nowrap gap-2">
          <label class="text-lg text-nowrap" for="first_name">First Name: </label>
          <input
            class="font-bold input px-2 py-0"
            id="first_name"
            name="first_name"
            type="text"
            value="{{ user.first_name }}"
          />
        </div>
        <div class="flex items-center flex-nowrap gap-2">
          <label class="text-lg text-nowrap" for="last_name">Last Name: </label>
          <input
            class="font-bold input px-2 py-0"
            id="last_name"
            name="last_name"
            type="text"
            value="{{ user.last_name }}"
          />
        </div>
        <div class="flex items-center gap-2">
          <label class="text-lg" for="username">Username: </label>
          <input
            class="font-bold input px-2 py-0"
            id="username"
            name="username"
            type="text"
            value="{{ user.username }}"
          />
        </div>
        <div class="flex items-center gap-2">
          <label class="text-lg" for="email">Email: </label>
          <input
            class="font-bold input px-2 py-0"
            id="email"
            name="email"
            type="email"
            value="{{ user.email }}"
          />
        </div>
        <span
          class="badge-{% if user.email_verified %}default{% else %}secondary{% endif %}"
        >
          {% if user.email_verified %}
            Email Verified
          {% else %}
            Email Not Verified
          {% endif %}
        </span>
        <div class="flex items-center gap-2">
          <label for="login_with_email" class="label">Login with email:</label>
          <input
            type="checkbox"
            id="login_with_email"
            name="login_with_email"
            {% if user.login_with_email %}checked{% endif %}
          />
        </div>
        <div class="text-lg flex items-center gap-2">
          Password: <span class="font-bold">****</span>
          <a href="{% url 'change_password' %}" class="button py-0 px-2 gap-2 hover:underline">
            Edit <i class="ph-bold ph-pencil"></i>
          </a>
        </div>
        <div class="flex flex-wrap items-center gap-2 mt-2">
          <button type="submit" class="button-primary w-fit">Update my informations</button>
          <button
            type="button"
            class="button-destructive"
            data-jswc-dialog
            data-jswc-target="deactivate-dialog"
          >
            Deactivate Account
          </button>
        </div>
        {% if not user.email_verified %}
          <a href="{% url "resend_verify_email" %}" class="w-fit button-outline">
            Resend Verification Email
          </a>
        {% endif %}
        {% if user.is_staff %}
          <a href="{{ ADMIN_URL }}" class="mt-1 link-primary self-start">Access admin</a>
        {% endif %}
      </form>
      <div
        id="deactivate-dialog"
        class="hidden opacity-0 dialog aria-hidden:animate-dialog-close aria-[hidden=false]:animate-dialog-show outline-none focus-visible:border-primary"
        data-jswc-dialog-animation="true"
      >
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <h2 class="text-xl font-bold">Are you sure?</h2>
          </div>
          <div class="flex flex-col gap-4 mt-2">
            <p>Are you sure you want to deactivate user "{{ user.username }}"?
              All of the following related items will be deactivated now and deleted within 7 days:
            </p>
            <ul class="list-disc list-inside">
              <li>
                User: {{ user.username }}
                <ul class="list-disc list-inside pl-2 sm:pl-6">
                  {% for link in user.shortened_links.all %}
                    <li>
                      Link:
                      <a href="{% url "link" link.shortened_link %}" class="link-primary">{{ link }}</a>
                    </li>
                  {% endfor %}
                  {% for link in user.deleted_shortened_links.all %}
                    <li>Deleted Link: <span class="text-primary">{{ link }}</span></li>
                  {% endfor %}
                </ul>
              </li>
            </ul>
          </div>
          <div>
            <form
              method="post"
              action="{% url "deactivate_account" %}"
              class="mt-4 w-full flex items-center gap-2 flex-wrap"
            >
              {% csrf_token %}
              <button type="submit" class="button-destructive w-full sm:w-auto">Yes, I’m sure</button>
              <button
                type="button"
                class="button-outline w-full sm:w-auto"
                data-jswc-dialog-close
              >
                No, take me back
              </button>
            </form>
          </div>
          <button
            type="button"
            class="absolute button-outline p-2 border-0 rounded-xl right-4 top-4"
            aria-label="Close"
            data-jswc-dialog-close
          >
            <i class="ph-bold ph-x"></i>
          </button>
        </div>
      </div>
    </div>
    {% include "partials/create_link_form.html" with width="full" %}
    <div class="flex flex-col justify-center p-6 border rounded-md relative">
      <h2 class="text-2xl font-bold">My links</h2>
      <div class="mt-1 flex flex-wrap gap-0.5">
        <span class="badge-default">
          You have {{ user.link_num.links }} of {{ user.max_num_links }} links.
        </span>
        <span class="badge-yellow">
          You have {{ user.link_num.temp_links }} of {{ user.max_num_links_temporary }} temporary links.
        </span>
      </div>
      <a
        href="{% url "deleted_links" %}"
        class="mt-2 mb-1 link-primary self-start"
      >
        See your deleted links
      </a>
      <form method="post" action="{% url "handle_link_actions" %}" class="mt-2">
        {% csrf_token %}
        <div class="flex items-center flex-wrap gap-1">
          <div class="flex items-center gap-1.5">
            <label for="action">Action: </label>
            <select id="action" name="action" class="font-bold input px-2 py-0" required>
              <option selected>------------</option>
              <option value="delete_selected">Delete selected Links</option>
              <option value="activate_selected">Activate selected Links</option>
              <option value="deactivate_selected">Deactivate selected Links</option>
            </select>
          </div>
          <button type="submit" class="button-primary">Go</button>
          <span class="ml-1.5">
            <span id="action_counter">0</span>
            of {{ links|length }} selected
          </span>
        </div>
        <div class="border rounded-md mt-2 pb-2">
          <div class="w-full overflow-auto max-h-[500px] overscroll-contain">
            <table class="w-full caption-bottom text-sm">
              <caption class="mt-4 text-sm text-muted-foreground">
                A list of your links.
              </caption>
              <thead>
                <tr class="border-b duration-200 hover:bg-muted/50">
                  <th class="h-12 px-4 align-middle font-medium text-muted-foreground">
                    <input type="checkbox" id="check_all_links" />
                  </th>
                  <th class="h-12 px-4 text-start align-middle font-medium text-muted-foreground">Shortened Link</th>
                  <th class="h-12 px-4 text-center align-middle font-medium text-muted-foreground">Is Active</th>
                  <th class="h-12 px-4 text-center align-middle font-medium text-muted-foreground">Actions</th>
                </tr>
              </thead>
              <tbody id="tbody">
                {% for link in links %}
                  <tr
                    {% if link.is_expired %}title="The link has expired!"{% endif %}
                    class="border-b duration-200 hover:bg-muted/50"
                    id="{{ link.id }}"
                  >
                    <td class="text-center align-middle font-medium">
                      <input
                        type="checkbox"
                        name="_selected_action"
                        value="{{ link.id }}"
                        id="check_link_{{ link.id }}"
                        onchange="check_link({{ link.id }})"
                      />
                    </td>
                    <td class="flex items-center gap-1 px-4 py-2 align-middle font-medium text-lg">
                      <a href="{% url 'link' link.shortened_link %}" class="link">{{ link.shortened_link }}</a>
                      {% if link.remove_at %}
                        <span class="mt-1" title="This link is temporary" aria-label="This link is temporary">
                          <i class="ph-bold ph-clock-countdown text-xl text-yellow-500"></i>
                        </span>
                      {% endif %}
                    </td>
                    <td class="px-4 py-2 text-center align-middle font-medium">
                      <span
                        aria-label="Link is {% if not link.is_active %}not {% endif %}active"
                        title="Link is {% if not link.is_active %}not {% endif %}active"
                        class="text-lg {% if link.is_active %}text-green-600{% else %}text-red-600{% endif %}"
                      >
                        {% if link.is_active %}
                          <i class="ph-bold ph-check-circle"></i>
                        {% else %}
                          <i class="ph-bold ph-x-circle"></i>
                        {% endif %}
                      </span>
                    </td>
                    <td class="px-4 py-2 flex gap-1.5 justify-center align-middle font-medium">
                      <button
                        type="button"
                        class="button-outline p-2"
                        onclick="handle_menu('dropdown-menu-content-{{ link.id }}')"
                        aria-expanded="false"
                        aria-label="Open action menu for link {{ link.shortened_link }}"
                        title="Open action menu for link {{ link.shortened_link }}"
                      >
                        <i class="ph-bold ph-dots-three"></i>
                      </button>
                      <div
                        id="dropdown-menu-content-{{ link.id }}"
                        class="hidden absolute right-0 flex-col z-20 p-1 border bg-secondary rounded-md w-40 opacity-0 sm:right-4"
                      >
                        <button
                          type="button"
                          class="dropdown-menu-item gap-1 p-2"
                          id="copy-{{ link.shortened_link }}"
                          onclick="copy('{{ link.get_absolute_url }}', 'copy-{{ link.shortened_link }}')"
                        >
                          <i class="ph-bold ph-copy"></i> Copy
                        </button>
                        <a href="{% url 'link' link.shortened_link %}" class="dropdown-menu-item gap-1 p-2">
                          <i class="ph-bold ph-pencil"></i> Edit
                        </a>
                        <a
                          href="{% url 'link' link.shortened_link %}?deactivate={{ link.is_active }}"
                          class="dropdown-menu-item gap-1 p-2"
                        >
                          {% if link.is_active %}
                            <i class="ph-bold ph-x-circle text-red-600 text-lg"></i> Deactivate
                          {% else %}
                            <i class="ph-bold ph-check-circle text-green-600 text-lg"></i> Activate
                          {% endif %}
                        </a>
                        <button
                          type="button"
                          class="dropdown-menu-item gap-1 p-2"
                          data-jswc-dialog
                          data-jswc-target="remove-link-{{ link.id }}-dialog"
                        >
                          <i class="ph-bold ph-trash text-red-600 text-lg"></i> Delete
                        </button>
                      </div>
                      {% include "partials/delete_link_dialog.html" %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}

{% block js %}
  <script src="{% static "js/links/select.js" %}"></script>
  <script src="{% static "js/dialog.js" %}"></script>
{% endblock js %}
