{% extends "base.html" %}

{% block title %}{{ user.username }}{% endblock title %}

{% block content %}
  <div class="mt-16 flex flex-col justify-center max-w-xl mx-auto gap-4">
    <div class="flex flex-col justify-center p-6 border rounded-md">
      <h1 class="text-2xl font-bold">My informations</h1>
      <div class="separator my-4"></div>
      <form method="post" action="{% url 'my_account' %}" class="flex flex-col gap-2">
        {% csrf_token %}
        <p class="text-lg flex items-center gap-2">
          <label for="username">Username: </label>
          <input
            class="font-bold input px-2 py-0"
            id="username"
            name="username"
            type="text"
            value="{{ user.username }}"
          />
        </p>
        <p class="text-lg flex items-center gap-2">
          <label for="email">Email: </label>
          <input
            class="font-bold input px-2 py-0"
            id="email"
            name="email"
            type="email"
            value="{{ user.email }}"
          />
        </p>
        <p class="text-lg flex items-center gap-2">
          Password: <span class="font-bold">****</span>
          <a href="{% url 'change_password' %}" class="button py-0 px-2 gap-2">
            Edit <i class="ph-bold ph-pencil"></i>
          </a>
        </p>
        <button type="submit" class="button-primary w-fit mt-2">Update my informations</button>
        {% if user.is_staff %}
          <a href="{{ ADMIN_URL }}" class="mt-1 link-primary self-start">Access admin</a>
        {% endif %}
      </form>
    </div>
    <div class="flex flex-col justify-center p-6 border rounded-md">
      <h2 class="text-2xl font-bold">My links</h2>
      <div class="separator my-4"></div>
      <div class="flex flex-col gap-2">
        {% if links %}
          {% for link in links %}
            <p class="font-medium flex items-center gap-2">
              {{ link.shortened_link }}
              <button
                type="button"
                class="button-primary w-fit gap-2 self-start py-1 px-2"
                id="copy"
                onclick="copy('{{ link.get_absolute_url }}', 'copy')"
              >
                <i class="ph-bold ph-copy"></i>
                Copy
              </button>
              <a href="{% url 'link' link.shortened_link %}" class="button py-0 px-2 gap-1">
                Edit <i class="ph-bold ph-pencil"></i>
              </a>
            </p>
          {% endfor %}
          {% else %}
            <p class="font-medium flex">No links found...</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}
