{% extends "base.html" %}

{% block title %}Sign In{% endblock title %}

{% block content %}
  <div class="mt-16 flex flex-col items-center justify-center max-w-md mx-auto p-6 border rounded-md">
    <form method="post" action="{% url 'sign_in' %}" class="w-full">
      {% csrf_token %}
      <input hidden type="hidden" name="next" value="{{ next_param }}" />
      <div class="text-center mb-8 mt-2">
        <h2 class="text-3xl font-bold">Sign In</h2>
        <p class="text-base font-medium mt-1">Welcome back! Please sign in to continue</p>
      </div>
      <div class="flex flex-col gap-2 mb-6">
        <label for="username" class="label">Username:</label>
        <input type="text" id="username" name="username" class="input" required />
      </div>
      <div class="flex flex-col gap-2 mb-6">
        <label for="password" class="label">Password:</label>
        <input type="password" id="password" name="password" class="input" required />
      </div>
      <button type="submit" class="mt-2 w-full button-primary">Sign In</button>
      <p class="mt-4 text-sm text-center">
        Don't have an account yet?
        <a href="{% url 'sign_up' %}" class="link-primary">Sign Up</a>.
      </p>
    </form>
  </div>
{% endblock content %}
