{% extends "base.html" %}

{% block title %}Server Error{% endblock title %}

{% block content %}
  <div class="flex flex-col justify-center items-center mt-10">
    <h1 class="text-4xl underline font-bold my-4">Ooops!!! 500</h1>
    <h3 class="text-2xl">Looks like something went wrong!</h3>
    <p class="text-lg mt-2 max-w-[632px] break-words text-center">
      We track these errors automatically, but if the problem persists feel free to
      contact us. In the meantime, try refreshing.
    </p>
  </div>
{% endblock content %}
