{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Shorten your links with Sbily." />
    <meta name="keywords" content="study, programming" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/@phosphor-icons/web@2.0.3/src/fill/style.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/@phosphor-icons/web@2.0.3/src/bold/style.css"
    />

    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <title>{% block title %}{% endblock title %} • Sbily</title>
    {% block head %}{% endblock head %}
  </head>
  <body>
    {% block body %}
      <header class="fixed h-16 inset-x-0 top-0 bg-secondary/60 backdrop-blur-md z-[9999] border-b">
        <nav class="flex items-center px-4 md:px-12 size-full gap-6 container">
          <a class="flex gap-2 items-center link font-bold text-lg" href="{% url "home" %}">
            Sbily
          </a>
          <button
            type="button"
            class="absolute end-0 mr-4 md:mr-12 text-2xl flex md:hidden button-primary z-20"
            aria-expanded="false"
            id="nav__dropdown-trigger"
          >
            <i class="ph-fill ph-list"></i>
          </button>
          <div
            class="hidden absolute flex-col z-20 p-1 bg-secondary right-3 rounded-md end-0 top-16 -translate-y-8 w-40 opacity-0"
            id="nav__dropdown-content"
          >
            <a href="{% url "home" %}" class="dropdown-nav-link">Home</a>
          </div>
          <div class="hidden items-center gap-4 md:flex">
            <a href="{% url "home" %}" class="link">Home</a>
          </div>
        </nav>
      </header>
      <div class="pt-16 px-1 sm:container">
        {% block content %}{% endblock content %}
      </div>
    {% endblock body %}
    <div role="region" aria-label="Notifications" tabindex="-1">
      <ol tabindex="-1" id="toast-ol" class="toast-list"></ol>
    </div>
    <script src="{% static "js/toast.js" %}"></script>
    <script src="{% static "js/nav_dropdown.js" %}"></script>
    {% if messages %}
      <script>
        {% for message in messages %}
          toast("{{ message }}", "{{ message.tags }}");
        {% endfor %}
      </script>
    {% endif %}
    {% block js %}{% endblock js %}
  </body>
</html>
