{% load static %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Shorten your links with Sbily." />
    <title>{% block title %}{% endblock title %} • Sbily</title>
    <meta name="keywords" content="study, programming" />
    <link href="{% static 'images/favicons/logo.jpg' %}" rel="icon" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    {% render_bundle "main" "css" %}

    <!-- Vendor dependencies bundled as one file -->
    {% render_bundle "vendors" "js" attrs="defer" %}
    {% render_bundle "main" "js" attrs="defer" %}

    {% block head %}{% endblock head %}
  </head>
  <body>
    {% block body %}
      <header class="fixed h-16 inset-x-0 top-0 bg-secondary/60 backdrop-blur-md z-[9999] border-b">
        <nav class="flex items-center justify-between px-4 md:px-12 size-full gap-4 container">
          <a class="link font-bold text-lg gap-2 group" href="{% url 'home' %}">
            <img
              src="{% static 'images/favicons/logo.jpg' %}"
              alt="Sbily logo"
              class="size-10 rounded-full group-hover:brightness-200 duration-200"
              width="40px"
              height="40px"
            />
            Sbily
          </a>
          <div class="relative flex items-center gap-2">
            {% if request.user.is_authenticated %}
              <a
                href="{% url 'my_notifications' %}"
                class="link relative p-2 border border-foreground/20 hover:border-foreground/40"
                title="See your notifications"
              >
                {% if user.get_unread_notifications_count > 0 %}
                  <span
                    class="flex absolute -top-1 -right-1 size-5 justify-center items-center text-xs border-2 border-secondary bg-primary rounded-full"
                  >
                    {{ user.get_unread_notifications_count }}
                  </span>
                {% endif %}
                <div class="size-5">
                  <i data-lucide="bell" class="size-5"></i>
                  <span class="sr-only">See your notifications</span>
                </div>
              </a>
              <button
                type="button"
                class="button-ghost-outline p-2"
                data-jswc-dropdown
                data-jswc-target="dropdown-menu-account-content"
                aria-label="Open My Account menu."
                title="Open My Account menu."
              >
                <i data-lucide="circle-user" class="size-5"></i>
              </button>
              <div
                id="dropdown-menu-account-content"
                class="hidden dropdown-menu right-0 top-12"
                data-jswc-dropdown-animation="true"
              >
                {% if request.user.is_authenticated %}
                  <a href="{% url 'my_account' %}" class="dropdown-menu-item gap-2">
                    <i data-lucide="circle-user" class="size-5"></i>
                    <span>My Account</span>
                  </a>
                  <div class="separator my-1"></div>
                  <a href="{% url 'sign_out' %}" class="dropdown-menu-item gap-2 text-red-600">
                    <i data-lucide="log-out" class="size-5"></i>
                    <span>Sign Out</span>
                  </a>
                {% else %}
                  <a href="{% url 'sign_up' %}" class="dropdown-menu-item">Sign Up</a>
                  <a href="{% url 'sign_in' %}" class="dropdown-menu-item">Sign In</a>
                {% endif %}
              </div>
            {% else %}
              <a href="{% url 'sign_up' %}" class="link">Sign Up</a>
              <a href="{% url 'sign_in' %}" class="link">Sign In</a>
            {% endif %}
          </div>
        </nav>
      </header>
      <div class="pt-16 px-1 sm:container">
        {% block content %}{% endblock content %}
      </div>
    {% endblock body %}
    <div role="region" aria-label="Notifications" tabindex="-1">
      <ol tabindex="-1" id="toast-ol" class="toast-list"></ol>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        {% if messages %}
          {% for message in messages %}
        toast("{{ message }}", "{{ message.tags }}");
          {% endfor %}
        {% endif %}

        const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
        formdata = new FormData();
        const csrfToken = '{% csrf_token %}'.split("value=")[1].replaceAll('"', "").replace(">", "");
        formdata.append("csrfmiddlewaretoken", csrfToken);
        formdata.append("timezone", timezone);

        fetch(
          "{% url 'set_user_timezone' %}",
          { method: "POST", body: formdata },
        ).catch(e => console.error(e));
      });
    </script>
    {% block js %}{% endblock js %}
  </body>
</html>
