{% extends "account/base.html" %}

{% block title %}My Account{% endblock title %}

{% block tab_title %}My Account{% endblock tab_title %}
{% block tab_description %}
  Manage your account settings.
{% endblock tab_description %}

{% block tab_content %}
  <form method="post" class="flex flex-col" action="{% url 'my_account' %}">
    {% csrf_token %}
    <div class="flex flex-col gap-2 mb-6">
      <label class="label" for="first_name">First Name:</label>
      <input
        type="text"
        class="input"
        id="first_name"
        name="first_name"
        placeholder="Your first name"
        value="{{ user.first_name }}"
      />
    </div>
    <div class="flex flex-col gap-2 mb-6">
      <label class="label" for="last_name">Last Name:</label>
      <input
        type="text"
        class="input"
        id="last_name"
        name="last_name"
        placeholder="Your last name"
        value="{{ user.last_name }}"
      />
    </div>
    <div class="flex flex-col gap-2 mb-6">
      <label class="label" for="username">Username:</label>
      <input
        type="text"
        class="input"
        id="username"
        name="username"
        placeholder="Your username"
        value="{{ user.username }}"
        required
      />
    </div>
    <button type="submit" class="button-primary p-2 w-fit">Update account</button>
  </form>
  <div class="flex flex-col mt-10">
    <h2 class="text-xl font-bold">Deactivate account</h2>
    <div class="separator mt-2 mb-4"></div>
    <p class="text-foreground/80 text-sm mb-5">
      Your account will be deactivated and completely deleted after 7 days.
    </p>
    <button type="button" class="button-destructive w-fit py-2 px-1.5" data-jswc-dialog data-jswc-target="deactivate-dialog">
      Deactivate your account
    </button>
    <div id="deactivate-dialog" class="hidden dialog" data-jswc-dialog-animation="true">
      <div class="flex flex-col">
        <div class="flex justify-between items-center">
          <h2 class="text-xl font-bold">Are you sure?</h2>
        </div>
        <div class="flex flex-col gap-4 mt-4">
          <p>
            Are you sure you want to deactivate user "{{ user.username }}"?
            All of the following related items will be deactivated now and deleted within 7 days:
          </p>
          <ul class="list-disc list-inside">
            <li>
              User: {{ user.username }}
              <ul class="list-disc list-inside pl-2 sm:pl-6">
                {% for link in user.shortened_links.all %}
                  <li>
                    Link:
                    <a href="{% url "link" link.shortened_link %}" class="link-primary">{{ link }}</a>
                  </li>
                {% endfor %}
                {% for link in user.deleted_shortened_links.all %}
                  <li>Deleted Link: <span class="text-primary">{{ link }}</span></li>
                {% endfor %}
              </ul>
            </li>
          </ul>
        </div>
        <div>
          <form
            method="post"
            action="{% url "deactivate_account" %}"
            class="mt-4 w-full flex items-center gap-2 flex-wrap"
          >
            {% csrf_token %}
            <button type="submit" class="button-destructive w-full sm:w-auto">Yes, I’m sure</button>
            <button
              type="button"
              class="button-outline w-full sm:w-auto"
              data-jswc-dialog-close
            >
              No, take me back
            </button>
          </form>
        </div>
        <button
          type="button"
          class="absolute button-outline p-2 border-0 rounded-xl right-4 top-4"
          aria-label="Close"
          data-jswc-dialog-close
        >
          <i data-lucide="x" class="size-5"></i>
        </button>
      </div>
    </div>
  </div>
{% endblock tab_content %}
