{% extends "base.html" %}
{% load static %}

{% block title %}Deleted links{% endblock title %}

{% block content %}
  <div class="my-16 flex flex-col justify-center max-w-xl mx-auto gap-4">
    <div class="flex flex-col justify-center p-6 border rounded-md relative">
      <h2 class="text-2xl font-bold">My deleted links</h2>
      <form method="post" action="{% url "handle_link_actions" %}" class="mt-2">
        {% csrf_token %}
        <input type="hidden" name="next_path" value="{% url "deleted_links" %}" />
        <div class="flex items-center flex-wrap gap-1">
          <div class="flex items-center gap-1.5">
            <label for="action">Action: </label>
            <select id="action" name="action" class="font-bold input px-2 py-0" required>
              <option selected>------------</option>
              <option value="restore_selected">Restore selected Links</option>
              <option value="delete_selected_deleted_links">Delete selected Links</option>
            </select>
          </div>
          <button type="submit" class="button-primary">Go</button>
          <span class="ml-1.5">
            <span id="action_counter">0</span>
            of {{ links|length }} selected
          </span>
        </div>
        <div class="border rounded-md mt-2 pb-2">
          <div class="w-full overflow-auto max-h-[500px] overscroll-contain">
            <table class="w-full caption-bottom text-sm">
              <caption class="mt-4 text-sm text-muted-foreground">
                A list of your deleted links.
              </caption>
              <thead>
                <tr class="border-b duration-200 hover:bg-muted/50">
                  <th class="h-12 px-4 align-middle font-medium text-muted-foreground">
                    <input type="checkbox" id="check_all_links" />
                  </th>
                  <th class="h-12 px-4 text-start align-middle font-medium text-muted-foreground">Shortened Link</th>
                  <th class="h-12 px-4 text-center align-middle font-medium text-muted-foreground">Remove in</th>
                  <th class="h-12 px-4 text-center align-middle font-medium text-muted-foreground">Actions</th>
                </tr>
              </thead>
              <tbody id="tbody">
                {% for link in links %}
                  <tr class="border-b duration-200 hover:bg-muted/50" id="{{ link.id }}">
                    <td class="text-center align-middle font-medium">
                      <input
                        type="checkbox"
                        name="_selected_action"
                        value="{{ link.id }}"
                        id="check_link_{{ link.id }}"
                        onchange="check_link({{ link.id }})"
                      />
                    </td>
                    <td class="flex items-center gap-1 px-4 py-2 align-middle font-medium text-lg">
                      {{ link.shortened_link }}
                      {% if link.remove_at %}
                        <span class="mt-1" title="This link is temporary" aria-label="This link is temporary">
                          <i class="ph-bold ph-clock-countdown text-xl text-yellow-500"></i>
                        </span>
                      {% endif %}
                    </td>
                    <td class="px-4 py-2 text-center align-middle font-medium">
                      <span
                        aria-label="This link will be removed in {{ link.time_until_permanent_deletion_formatted }}"
                        title="This link will be removed in {{ link.time_until_permanent_deletion_formatted }}"
                        class="text-lg"
                      >
                        {{ link.time_until_permanent_deletion_formatted }}
                      </span>
                    </td>
                    <td class="flex justify-center gap-1.5 px-4 py-2 align-middle font-medium">
                      <button
                        type="button"
                        class="button-outline p-2"
                        onclick="handle_menu('dropdown-menu-content-{{ link.id }}')"
                        aria-expanded="false"
                        aria-label="Open action menu for link {{ link.shortened_link }}"
                        title="Open action menu for link {{ link.shortened_link }}"
                      >
                        <i class="ph-bold ph-dots-three"></i>
                      </button>
                      <div
                        id="dropdown-menu-content-{{ link.id }}"
                        class="hidden absolute right-0 flex-col z-20 p-1 border bg-secondary rounded-md w-40 opacity-0 sm:right-4"
                      >
                        <a href="{% url 'restore_link' link.shortened_link %}" class="dropdown-menu-item gap-1 p-2">
                          <i class="ph-bold ph-clock-clockwise text-primary text-lg"></i> Restore link
                        </a>
                        <button
                          type="button"
                          class="dropdown-menu-item gap-1 p-2"
                          data-jswc-dialog
                          data-jswc-target="remove-link-{{ link.id }}-dialog"
                        >
                          <i class="ph-bold ph-trash text-red-600 text-lg"></i> Delete
                        </button>
                      </div>
                      {% include "partials/delete_link_dialog.html" with is_deleted=True %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}

{% block js %}
  <script src="{% static "js/links/select.js" %}"></script>
  <script src="{% static "js/dialog.js" %}"></script>
{% endblock js %}
