{% extends "base.html" %}

{% block title %}Link - {{ link.shortened_link }}{% endblock title %}

{% block content %}
  <div class="mt-16 flex flex-col justify-center max-w-xl mx-auto gap-4">
    <div class="flex flex-col justify-center p-6 border rounded-md">
      <div class="flex items-center gap-4">
        <h1 class="text-2xl font-bold">Link - {{ link.shortened_link }}</h1>
        <button
          type="button"
          class="button-primary w-fit gap-2 px-2 py-1"
          id="copy"
          onclick="copy('{{ link.get_absolute_url }}', 'copy')"
        >
          <i class="ph-bold ph-copy"></i>
          Copy link
        </button>
      </div>
      <div class="separator my-4"></div>
      <form method="post" action="{% url 'link' link.shortened_link %}" class="flex flex-col gap-2">
        {% csrf_token %}
        <div class="flex flex-col gap-3 mb-6">
          <label for="original_link" class="label">Enter where this link goes:</label>
          <input
            type="url"
            id="original_link"
            name="original_link"
            class="input"
            value="{{ link.original_link }}"
            required
          />
        </div>
        <div class="flex flex-col gap-3 mb-3">
          <label for="shortened_link" class="label">Enter how you want your link:</label>
          <div class="flex items-center">
            <label
              class="border-l border-y h-10 flex items-center rounded-l-md px-3 py-2"
              for="shortened_link"
            >
              {{ BASE_URL }}
            </label>
            <input
              type="text"
              id="shortened_link"
              name="shortened_link"
              class="input border-l-0 rounded-l-none"
              value="{{ link.shortened_link }}"
              required
            />
          </div>
        </div>
        <div class="flex gap-1">
          <label for="is_active" class="label">Link is active:</label>
          <input type="checkbox" id="is_active" name="is_active" {% if link.is_active %}checked{% endif %} />
        </div>
        <div class="flex gap-1">
          <label for="is_temporary" class="label">Link is temporary:</label>
          <input type="checkbox" id="is_temporary" name="is_temporary" {% if link.remove_at %}checked{% endif %} />
        </div>
        <div class="flex items-center flex-wrap gap-2 mt-2">
          <div class="flex gap-2 flex-wrap">
            <button type="submit" class="button-primary w-fit">Update link</button>
            <button type="button" class="button-outline" onclick="goBack();">Go back</button>
          </div>
          <a href="{% url 'delete_link' link.shortened_link %}" class="button-destructive gap-1 w-fit">
            <i class="ph-bold ph-trash"></i> Delete
          </a>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}

{% block js %}
<script>
  function goBack() {
    if (history.length > 1) {
      history.back();
      return;
    };

    location.pathname = "{% url 'my_account' %}";
  };
</script>
{% endblock js %}
