{% extends "base.html" %}

{% block title %}Links{% endblock title %}

{% block content %}
  <div class="my-16 flex flex-col justify-center gap-2 max-w-3xl mx-auto">
    <div class="flex-col justify-center p-6 border relative sm:rounded-md">
      <h2 class="text-2xl font-bold mb-2">My links</h2>
      <div class="mt-1 flex flex-wrap gap-0.5">
        <span class="badge-default">
          You have {{ user.link_num.links }} of {{ user.max_num_links }} links.
        </span>
        <span class="badge-yellow">
          You have {{ user.link_num.temp_links }} of {{ user.max_num_links_temporary }} temporary links.
        </span>
      </div>
      {% include "partials/links_table.html" %}
    </div>
  </div>
{% endblock content %}
