{% extends "are_you_sure.html" %}

{% block content_info %}
  <p class="break-words">Are you sure you want to delete the "{{ link }}" link permanently?</p>
  <ul class="list-disc list-inside">
    <li>Link: <a href="{% url "link" link.shortened_link %}" class="link-primary">{{ link }}</a></li>
  </ul>
{% endblock content_info %}

{% block form_action %}{% url 'remove_deleted_link' link.shortened_link %}{% endblock form_action %}

{% block go_back %}{% url "deleted_links" %}{% endblock go_back %}
