.container{
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.carga{
    display: flex;
    justify-content: center;
}

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.err0{
    text-align: center;
    padding: 20px 10px 10px 15px;
    color: black;
}

.suporte{
    text-align: center;
    color: black;
}

.sus{
    text-align: center;
    display: flex;
    justify-content: center;
    color: black;
}

.home{
    color: black;
    transition: background 1s;
}

.home:hover,
.home:focus{
    border: hidden;
    background-color: turquoise;
    color: black;
}

.load_1{
    width: 50px;
    height: 50px;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    border-right: 10px solid turquoise;
    border-left: 10px solid turquoise;
    border-radius: 50%;
    animation: load 1s ease infinite;
}
@keyframes load{
    to{
    transform: rotate(1turn);
    }
}
