<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <link rel='icon' href='https://github.com/ShadowsS01.png' />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <title>Encurtador de Links</title>
</head>
<body>

    <div style="text-align: center;" class="container">
        <h1>Encurtador de Link</h1>
        <hr>

        <form action="{% url 'valida_link' %}" method="POST">{% csrf_token %}
            <table>
                <label>Digite o Link para qual deseja redirecionar: </label>
                <br>
                {{ form.link_redirecionado }}

                <br>
                <label>Digite como deseja o seu link: </label>
                <br>
                <label>https://sbily.herokuapp.com/</label>
                {{ form.link_encurtado }}
                    <br>
                    {% if status == "1" %}
                    <p style="color: red;">O link digitado já existe</p>
                    {% endif %}
                <input type="submit">
            </table>
        </form>

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

</body>
</html>