{% extends 'base.html' %}

{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'core/css/home.css' %}" />
{% endblock %}

{% block 'titulo' %}
  Home
{% endblock %} 

{% block 'body' %}
  <div class="welcome">
    <h1 class="title">Bem Vindo ao <a href="/">Sbily</a></h1>
    <p class="description">Um simples encurtador de links.</p>
  </div>

  <main class="container">
    <form action="{% url 'valida_link' %}" method="POST" class="form">{% csrf_token %}
      <input
        class="input-link"
        id="input-link-redirecionado"
        type="text"
        placeholder="Digite o link redirecionado"
        name="link_redirecionado"
      />
      <input
        class="input-link"
        id="input-link-encurtado"
        type="text"
        placeholder="Digite o link encurtado"
        name="link_encurtado"
      />
      <button class="btn-create-link" type="submit">Criar Link</button>
      <div id="message">
        {% if messages %}
          <br />
          {% for message in messages %}
            <div class="alert {{message.tags}}">{{message}}</div>
          {% endfor %}
        {% endif %}
      </div>
    </form>
  </main>
{% endblock %}
