@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 240 5% 94%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 240 5% 94%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 210 20% 98%;
    --card: 0 0% 0%;
    --card-foreground: 210 20% 98%;
    --popover: 0 0% 0%;
    --popover-foreground: 210 20% 98%;
    --primary: 262 83% 60%;
    --primary-foreground: 210 20% 98%;
    --secondary: 240 6% 10%;
    --secondary-foreground: 210 20% 98%;
    --muted: 240 6% 10%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 240 6% 10%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 240 6% 10%;
    --input: 240 6% 10%;
    --ring: 262 83% 60%;
  }
}

@layer base {
  * {
    @apply border-border selection:bg-primary/30;
  }

  html {
    @apply scroll-smooth;
    color-scheme: dark;
  }

  body {
    @apply bg-background text-foreground font-inter relative;
  }

  body[data-scroll-locked] {
    @apply relative overflow-hidden md:border-r-[17px] border-foreground/30 md:[&>header]:right-[17px] !important;
  }
}

@layer components {
  .input {
    @apply flex h-10 w-full rounded-md border duration-200 border-input bg-background px-3 py-2 text-sm outline-none ring-offset-background ring-ring ring-offset-2 file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus:ring-2 aria-[invalid]:border-red-600/80 disabled:cursor-not-allowed disabled:opacity-50;
  }

  .textarea {
    @apply flex min-h-[80px] w-full rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50;
  }

  .label {
    @apply font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70;
  }

  .badge {
    @apply inline-flex justify-center w-fit items-center rounded-full border px-2.5 py-0.5 text-xs font-semibold duration-200 focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 ring-offset-black;
  }

  .badge-default {
    @apply badge border-transparent bg-primary/80 text-primary-foreground hover:bg-primary;
  }

  .badge-secondary {
    @apply badge border-transparent bg-secondary text-secondary-foreground hover:bg-secondary/80;
  }

  .badge-yellow {
    @apply badge border-transparent bg-yellow-500 dark:text-background hover:brightness-110;
  }

  .alert {
    @apply relative w-full rounded-lg border px-4 py-3 text-sm [&>svg+div]:translate-y-[-3px] [&>svg]:absolute [&>svg]:left-4 [&>svg]:top-4 [&>svg]:text-foreground [&>svg~*]:pl-7 bg-background text-foreground;
  }

  .alert-title {
    @apply mb-1 font-medium leading-none tracking-tight;
  }

  .alert-description {
    @apply text-sm [&_p]:leading-relaxed;
  }

  .alert-danger {
    @apply alert border-destructive bg-destructive/10 text-red-600/80 [&_svg]:text-red-600/80;
  }

  .button {
    @apply inline-flex py-2 px-4 items-center rounded-md justify-center whitespace-nowrap font-medium ring-offset-background ring-ring duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 disabled:pointer-events-none disabled:opacity-50;
  }

  .button-primary {
    @apply button text-primary-foreground bg-primary hover:bg-primary/80 active:bg-primary/60 dark:bg-primary/60 dark:hover:bg-primary/80 dark:active:bg-primary/40;
  }

  .button-secondary {
    @apply button bg-secondary text-secondary-foreground hover:bg-secondary/80;
  }

  .button-outline {
    @apply button border-2 border-input bg-background hover:bg-accent hover:text-accent-foreground active:bg-accent/60;
  }

  .button-ghost {
    @apply button hover:bg-accent hover:text-accent-foreground active:bg-accent/60;
  }

  .button-ghost-outline {
    @apply button border border-foreground/20 hover:border-foreground/40;
  }

  .button-destructive {
    @apply button ring-destructive text-destructive-foreground bg-destructive hover:bg-destructive/80 active:bg-destructive/60;
  }

  .link {
    @apply inline-flex items-center rounded-md justify-center font-medium ring-offset-background underline-offset-4 duration-200 hover:underline focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:ring-ring active:opacity-70;
  }

  .dialog {
    @apply z-[99999] w-full fixed left-1/2 top-1/2 bg-background max-w-lg mx-auto p-6 border-2 rounded-md translate-x-[-50%] translate-y-[-50%] outline-none focus-visible:border-primary fill-mode-forwards aria-[hidden=false]:animate-in aria-hidden:animate-out aria-[hidden=false]:fade-in-0 aria-hidden:fade-out-0 aria-hidden:zoom-out-95 aria-[hidden=false]:zoom-in-95 aria-hidden:slide-out-to-left-1/2 aria-hidden:slide-out-to-top-[48%] aria-[hidden=false]:slide-in-from-left-1/2 aria-[hidden=false]:slide-in-from-top-[48%];
  }

  .dialog-overlay {
    @apply bg-black/60 fixed z-[9999] inset-0 fill-mode-forwards aria-[hidden=false]:animate-in aria-hidden:animate-out aria-[hidden=false]:fade-in-0 aria-hidden:fade-out-0 aria-hidden:backdrop-blur-none aria-[hidden=false]:backdrop-blur-sm;
  }

  .dialog-close {
    @apply absolute button-outline p-2 border-0 rounded-xl right-4 top-4;
  }

  .dropdown-menu {
    @apply absolute z-[9999] flex-col bg-background border-2 p-1 w-40 rounded-md fill-mode-forwards aria-[hidden=false]:animate-in aria-hidden:animate-out aria-[hidden=false]:fade-in-0 aria-hidden:fade-out-0 aria-hidden:zoom-out-75 aria-[hidden=false]:zoom-in-75;
  }

  .dropdown-menu-overlay {
    @apply fixed z-[999] inset-0;
  }

  .dropdown-menu-item {
    @apply link hover:no-underline hover:bg-secondary/80 duration-200 h-10;
  }

  .dropdown-nav-link {
    @apply link hover:no-underline hover:bg-secondary/80 duration-200 px-2 py-3;
  }

  /* Switch */
  .switch-button {
    @apply inline-flex h-6 w-11 shrink-0 cursor-pointer items-center rounded-full border-2 border-transparent duration-200 outline-none ring-ring ring-offset-2 ring-offset-background focus:ring-2 disabled:cursor-not-allowed disabled:opacity-50 data-[state=checked]:bg-primary data-[state=unchecked]:bg-input;
  }

  .switch-thumb {
    @apply pointer-events-none block size-5 rounded-full bg-background shadow-lg ring-0 transition-transform data-[state=checked]:translate-x-5 data-[state=unchecked]:translate-x-0;
  }

  .link-primary {
    @apply link text-primary;
  }

  .separator {
    @apply shrink-0 bg-border h-0.5 w-full;
  }

  /* Tabs */
  .tab-trigger {
    @apply flex w-full items-center justify-center whitespace-nowrap rounded-sm px-3 py-2 text-sm font-medium ring-offset-background transition-all focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 data-[state=active]:bg-background data-[state=active]:text-foreground data-[state=active]:shadow-sm;
  }
  .tab-item {
    @apply flex items-center gap-2 text-sm text-nowrap px-4 md:px-2 py-3 rounded-md border-t-4 md:border-t-0 md:border-l-4 border-transparent ring-ring duration-200 outline-none hover:bg-secondary focus:bg-secondary focus:ring-2 [&:not(:hover)]:data-[state=active]:bg-secondary/60 data-[state=active]:border-primary data-[state=active]:text-foreground;
  }

  /* Table */
  .selected {
    @apply bg-muted/80;
  }

  /* Toast */
  .toast-list {
    @apply fixed top-0 right-0 left-0 z-[99999] flex gap-2 max-h-screen w-full md:max-w-[420px] flex-col-reverse md:left-auto md:top-5 sm:right-5 sm:flex-col;
  }

  .toast {
    @apply relative p-6 z-[99999] bg-background font-medium flex flex-col rounded-md duration-200 border-2 [&_div]:gap-3;
  }

  .toast-open {
    @apply toast fill-mode-forwards animate-in fade-in-0 slide-in-from-top-5 duration-500;
  }

  .toast-close {
    @apply toast fill-mode-forwards animate-out fade-out-0 slide-out-to-right-5 duration-500;
  }

  .toast-close-btn {
    @apply p-2 text-lg absolute -top-1 right-1 text-foreground/80 hover:text-foreground duration-200;
  }

  .toast-icon {
    @apply self-center text-xl;
  }

  /* Toast Variants */
  .toast-debug {
    @apply toast [&_svg]:text-cyan-600;
  }

  .toast-error {
    @apply toast [&_svg]:text-red-600;
  }

  .toast-warning {
    @apply toast [&_svg]:text-yellow-600;
  }

  .toast-success {
    @apply toast [&_svg]:text-green-600;
  }

  .toast-info {
    @apply toast [&_svg]:text-blue-600;
  }
}
