{% extends "base.html" %}

{% block title %}Reset Password{% endblock title %}

{% block content %}
  <div class="mt-16 flex flex-col items-center justify-center max-w-md mx-auto p-6 border rounded-md">
    <form method="post" action="{% url 'reset_password' token %}" class="w-full">
      {% csrf_token %}
      <div class="text-center mb-8 mt-2">
        <h2 class="text-3xl font-bold">Reset Password</h2>
        <p class="text-base font-medium mt-1">Enter your new password</p>
      </div>
      <div class="flex flex-col gap-2 mb-6">
        <label for="password" class="label">Password:</label>
        <input type="password" id="password" name="password" class="input" required />
      </div>
      <div class="flex flex-col gap-2 mb-6">
        <label for="confirm_password" class="label">Confirm password:</label>
        <input type="password" id="confirm_password" name="confirm_password" class="input" required />
      </div>
      <button type="submit" class="mt-2 w-full button-primary">Reset your password</button>
      {% if not user.is_authenticated %}
        <p class="mt-4 text-sm text-center">
          Or <a href="{% url 'sign_in' %}" class="link-primary">Sign In</a>
        </p>
      {% else %}
        <a href="{% url 'my_account' %}" class="button-outline px-2 mt-2 w-fit">
          <i data-lucide="chevron-left" class="stroke-[3px]"></i>
          Voltar
        </a>
      {% endif %}
    </form>
  </div>
{% endblock content %}
