{% extends "base.html" %}

{% block title %}Sign Up{% endblock title %}

{% block content %}
  <div class="mt-16 flex flex-col items-center justify-center max-w-md mx-auto p-6 border rounded-md">
    <form method="post" action="{% url 'sign_up' %}" class="w-full">
      {% csrf_token %}
      <div class="text-center mb-8 mt-2">
        <h2 class="text-3xl font-bold">Create your account</h2>
        <p class="text-base font-medium mt-1">Welcome! Please fill in the details to get started.</p>
      </div>
      {{ form }}
      <button type="submit" class="mt-2 w-full button-primary">Sign Up</button>
      <p class="mt-4 text-sm text-center">
        Already have an account?
        <a href="{% url 'sign_in' %}" class="link-primary">Sign In</a>.
      </p>
    </form>
  </div>
{% endblock content %}
