{% extends "base.html" %}

{% block title %}Sign In with email{% endblock title %}

{% block content %}
  <div class="mt-16 flex flex-col items-center justify-center max-w-md mx-auto p-6 border rounded-md">
    <form method="post" action="{% url 'sign_in_with_email' %}" class="w-full">
      {% csrf_token %}
      <div class="text-center mb-8 mt-2">
        <h2 class="text-3xl font-bold">Sign In with email</h2>
        <p class="text-base font-medium mt-1">Enter your email to receive the sign in link</p>
      </div>
      <div class="flex flex-col gap-2 mb-6">
        <label for="email" class="label">Email:</label>
        <input type="email" id="email" name="email" class="input" required />
      </div>
      <button type="submit" class="mt-2 w-full button-primary">Send sign in link</button>
      <p class="mt-4 text-sm text-center">
        Or <a href="{% url 'sign_in' %}" class="link-primary">Sign In with password</a>
      </p>
    </form>
  </div>
{% endblock content %}
