{% extends "base.html" %}

{% block title %}Sign In{% endblock title %}

{% block content %}
  <div class="mt-16 flex flex-col items-center justify-center max-w-md mx-auto p-6 border rounded-md">
    <form method="post" action="{% url 'sign_in' %}" class="w-full">
      {% csrf_token %}
      <div class="text-center mb-8 mt-2">
        <h2 class="text-3xl font-bold">Sign In</h2>
        <p class="text-base font-medium mt-1">Welcome back! Please sign in to continue</p>
      </div>
      {{ form }}
      <div class="flex justify-between">
        <a href="{% url "sign_in_with_email" %}" class="text-primary text-sm hover:underline">
          Sign in with email
        </a>
        <a href="{% url "forgot_password" %}" class="text-primary text-sm hover:underline">
          Forgot your password?
        </a>
      </div>
      <button type="submit" class="mt-2 w-full button-primary">Sign In</button>
      <p class="mt-4 text-sm text-center">
        Don't have an account yet?
        <a href="{% url 'sign_up' %}" class="link-primary">Sign Up</a>.
      </p>
    </form>
  </div>
{% endblock content %}
