<form
  class="border rounded-md p-4 w-full {% if width != 'full' %}md:w-3/4 lg:w-1/2{% endif %}"
  method="post"
  action="{% url 'create_link' %}"
>
  {% csrf_token %}
  <input type="hidden" name="next_path" value="{{ request.path }}" hidden />
  <h2 class="text-2xl font-bold">Create link</h2>
  <div class="mt-1 mb-6 flex flex-col gap-1">
    <span class="badge-default">
      {% if user.link_num_left.links > 0 %}
        You can create {{ user.link_num_left.links }} link{% if user.link_num_left.links > 1 %}s{% endif %}.
      {% else %}
        You no longer have quota to create links.
      {% endif %}
    </span>
    <span class="badge-yellow">
      {% if user.link_num_left.temp_links > 0 %}
        You can create {{ user.link_num_left.temp_links }} temporary
        link{% if user.link_num_left.temp_links > 1 %}s{% endif %}.
      {% else %}
        You no longer have quota to create temporary links.
      {% endif %}
    </span>
  </div>
  <div class="flex flex-col gap-3 mb-6">
    <label for="original_link" class="label">Enter where this link goes:</label>
    <input
      type="url"
      id="original_link"
      name="original_link"
      class="input"
      placeholder="https://google.com"
      required
    />
  </div>
  <div class="flex flex-col mb-6">
    <label for="shortened_link" class="label mb-3">Enter how you want your link:</label>
    <div class="flex items-center">
      <label
        class="border-l border-y h-10 flex items-center rounded-l-md px-3 py-2"
        for="shortened_link"
      >
        {{ LINK_BASE_URL }}
      </label>
      <input
        type="text"
        id="shortened_link"
        name="shortened_link"
        class="input border-l-0 rounded-l-none"
        placeholder="my_link"
      />
    </div>
    <p class="text-sm font-medium w-fit text-foreground/80 mt-0.5 ml-0.5">*Optional</p>
  </div>
  <div class="flex gap-1 mb-6">
    <label for="is_temporary" class="label">Temporary link:</label>
    <input
      type="checkbox"
      id="is_temporary"
      name="is_temporary"
      {% if user.link_num_left.temp_links < 1 %}disabled{% endif %}
    />
  </div>
  <button
    type="submit"
    class="button-primary"
    {% if user.link_num_left.links < 1 and user.link_num_left.temp_links < 1 %}disabled{% endif %}
  >
    Create
  </button>
</form>
