<form
  class="border rounded-md p-4 w-full {% if width != 'full' %}md:w-3/4 lg:w-1/2{% endif %}"
  method="post"
  action="{% url 'create_link' %}"
>
  {% csrf_token %}
  <h2 class="text-2xl font-bold">Create link</h2>
  {% if user.is_authenticated %}
    <div class="mt-1 mb-6 flex flex-col gap-1">
      <span class="badge-default">
        {% if user.link_num_left.links > 0 %}
          You can create {{ user.link_num_left.links }} link{% if user.link_num_left.links > 1 %}s{% endif %}.
        {% else %}
          You no longer have quota to create links.
        {% endif %}
      </span>
      <span class="badge-yellow">
        {% if user.link_num_left.temp_links > 0 %}
          You can create {{ user.link_num_left.temp_links }} temporary
          link{% if user.link_num_left.temp_links > 1 %}s{% endif %}.
        {% else %}
          You no longer have quota to create temporary links.
        {% endif %}
      </span>
    </div>
  {% endif %}
  <div class="flex flex-col gap-2.5 mb-4 {% if not user.is_authenticated %}mt-6{% endif %}">
    <label for="original_link" class="label">Enter where this link goes:</label>
    <input
      type="url"
      id="original_link"
      name="original_link"
      class="input"
      placeholder="https://google.com"
      required
    />
  </div>
  {% if user.is_authenticated %}
    <div class="flex flex-col mb-5">
      <label for="shortened_link" class="label mb-2.5">
        Shortened URL <span class="text-sm font-medium text-foreground/80">(Optional)</span>:
      </label>
      <div class="flex items-center">
        <label
          class="border-l border-y h-10 flex items-center rounded-l-md px-3 py-2"
          for="shortened_link"
        >
          {{ LINK_BASE_URL }}
        </label>
        <input
          type="text"
          id="shortened_link"
          name="shortened_link"
          class="input border-l-0 rounded-l-none"
          placeholder="my_link"
        />
      </div>
      <p class="text-xs font-medium w-fit text-foreground/80 ml-0.5">
        The shortened URL path.
      </p>
    </div>
    <div class="flex flex-col mb-6">
      <label for="remove_at" class="label mb-2.5">
        Remove At <span class="text-sm font-medium text-foreground/80">(Optional)</span>:
      </label>
      <input
        type="datetime-local"
        id="remove_at"
        name="remove_at"
        class="input"
        {% if user.link_num_left.temp_links < 1 %}disabled{% endif %}
      />
      <p class="text-xs font-medium w-fit text-foreground/80 mt-1 ml-0.5">
        When this link should be automatically removed.
      </p>
      <p class="text-xs font-medium w-fit text-foreground/80 mt-2 ml-0.5">
        NOTE: It will be considered “expired” and after a while removed.
      </p>
      <p class="text-xs font-medium w-fit text-foreground/80 mt-1 ml-0.5">
        NOTE: It will be automatically changed to follow the UTC time zone.
      </p>
    </div>
  {% endif %}
  <button
    type="submit"
    class="button-primary"
    {% if user.link_num_left.links < 1 and user.link_num_left.temp_links < 1 %}disabled{% endif %}
  >
    Create
  </button>
</form>
